
body {
    margin: 2rem;
    padding: 1rem;
    background-color: rgba(249, 198, 225, 0.759);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: bolder;
    margin-bottom: 20px;
    color: #a80742;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem; 
    padding: 1.5rem;
    max-width: 80rem;
    margin: 0 auto;
  }
  
  article {
    background: rgb(78, 94, 80);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    text-align: center;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  article img {
    max-width: 100%;
    
    border-radius: 8px;
  }
  
  h2 {
    font-size: 1.7rem;
    color: #e9e7e7;
    margin-top: 1rem;
    font-weight: bolder;
  }
  
  p {
    font-size: 1.3rem;
    font-weight: bold;
    color: #c8c7c7;
    margin-top: 1rem;
  }

  header {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    width: 100%;
    margin-bottom: .5rem;
  }
  
  button {
    padding: 10px 20px;
    background-color: #276125;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #7ac087;
  }
  
  button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  @media (max-width: 768px) {
    h1 {
      font-size: 30px; 
      margin: 1rem; 
      text-align: center;
    }
    h2, p {
      font-size: 16px;
      margin: 0.2rem;
    }
    article, section, img {
      display: flex;
      flex-direction: column;
      margin: 0;
      width: 100%;
      margin-bottom: .3rem;
    }
    body{
      margin: .5rem;
      min-height: 680vh;
    }
  }
  